<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>заголовок страницы</title>

   
    <link rel="stylesheet" type="text/css" href="путь_к_стилям.css">
   
   
    <script src="путь_к_скриптам.js"></script>
    
<body>
  
    <header>
        <h1>Заголовок страницы</h1>
    </header>

    <nav>
        
        {% load menu_tags %}
        <div class="menu">
            {% draw_menu 'main_menu' %}
        </div>
    </nav>

    <main>
        
        <p>+790433612</p>
    </main>

    <footer>
       
        <p></p>
    </footer>

    

</body>
</html>
